extends header

block content
  div(class="clear1")
  div(class="ui vertical stripe segment noBorder-bottom ")
    div(class="ui middle aligned stackable grid container")
      div(class="row")
        div(class="eight wide column")
          h3(class="ui header") We help people to stay in touch more easily
          p(class="p-color") You can chat with radnom people and share your interest or simple just enjoy conversations.</p>
          h3(class="ui header") Real Time Chat
          p(class="p-color") Yes that's right, you can chat with your friend without refreshing all the time.
        div(class="six wide right floated column")
          img(src="images/chatFinal.png" class="ui large bordered rounded image")
      div(class='clear2') 
      div(class="row")
        div(class="center aligned column")
          a(class="ui huge button") Check Them Out
  div(class='clear2')  
  
  div(class="ui inverted vertical footer segment")
    div(class="ui container")
      div(class="ui stackable inverted divided equal height stackable grid")
        div(class="three wide column")
          h4(class="ui inverted header") About
          div(class="ui inverted link list")
            a(href="#" class="item") Sitemap
            a(href="#" class="item") Contact Us
            a(href="#" class="item") Religious Ceremonies
            a(href="#" class="item") Gazebo Plans
        div(class="three wide column")
          h4(class="ui inverted header") Services
          div(class="ui inverted link list")
            a(href="#" class="item") Banana Pre-Order
            a(href="#" class="item") DNA FAQ
            a(href="#" class="item") How To Access
            a(href="#" class="item") Favorite X-Men
        div(class="seven wide column")
          h4(class="ui inverted header") Footer Header
          p Extra space for a call to action inside the footer that could help re-engage users.
